
.matchesGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); 
  gap: 20px; 
  padding: 20px; 
  margin-top: 80px;
}


.matchCard {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 200px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.matchCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.profileImage img {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%; 
  margin-bottom: 5px; 
}

.placeholderImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e0e0e0; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575; 
  font-size: 12px;
  margin: 0 auto; 
}

.profileIndexInfo h4 {
  font-weight: bold; /* Bold name */
  font-size: 20px; /* Larger font for name */
  color: #333; /* Darker text for name */
  margin-bottom: 5px; /* Space below name */
}

/* Age and Location */
.profileIndexInfo p {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  color: #757575;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Buttons Section */
.matchCardButtons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.matchCardButtons button {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 11px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.matchCardButtons button:hover {
  background-color: #ccc;
}
