@font-face {
  font-family: 'New Walt Disney';
  src: url('/fonts/NewWaltDisneyFontRegular-BPen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'New Walt Disney', sans-serif;
  background: url("https://res.cloudinary.com/dq9lsxbkh/image/upload/v1739524430/homepage_rzdfsu.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white !important;
}

.matchesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center; 
  align-items: start;
}

.matchCard {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(12px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 16px;
  width: 200px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: sans-serif !important;
}

.matchCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profileImage img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
}

.placeholderImage {
  width: 100%;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  margin: 0 auto;
}

.profileIndexInfo h4 {
  font-weight: bold;
  font-size: 22px;
  color: white !important;
  margin-bottom: 5px;
}

.profileIndexInfo p {
  margin: 0;
  font-size: 15px;
  color: white !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.matchCardButtons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.matchCardButtons button {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: 2px solid white;
  padding: 8px 12px;
  font-size: 11px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-family: sans-serif;
  font-size: 0.5rem;
}

.matchCardButtons button:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .matchesGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
  }
}
