
 html, body {
    margin: 0;
    padding: 0;
    font-family: 'New Walt Disney', sans-serif;
    background: url("/images/homepage.jpeg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white !important;
}   

.matchesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center; 
  align-items: start;
}
.matchCard {
  background-color:rgba(255, 255, 255, 0.6);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px; 
  max-width: 300px; 
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.matchCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profileImage img {
  width: 100%;
  max-width: 150px; 
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.placeholderImage {
  width: 100%;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-size: 12px;
  margin: 0 auto;
}

.profileIndexInfo h4 {
  font-weight: bold;
  font-size: 22px;
  color: #333 !important;
  margin-bottom: 5px;
}

.profileIndexInfo p {
  margin: 0;
  font-size: 15px;
  color: #454444 !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.matchCardButtons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.matchCardButtons button {
  background-color: rgb(154, 192, 244);
  color: black;
  border: none;
  padding: 8px 12px;
  font-size: 11px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.matchCardButtons button:hover {
  background-color: rgb(189, 204, 225);
}



