@font-face {
    font-family: 'New Walt Disney';
    src: url('/fonts/NewWaltDisneyFontRegular-BPen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url("/images/signup.webp") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'New Walt Disney', sans-serif !important; 
    font-size: 20px !important;
}

.container {
    width: 90%;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.15);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: 200px; 
}

.container h1 {
    font-size: 2em;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 18px;
    width: 100%;
    text-align: left;
}

.form-group label {
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'New Walt Disney', sans-serif !important;
    font-style: italic;
}

.form-group input:focus {
    border-color: white;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.error-message {
    color: #ff4d4d;
    font-size: 0.9em;
    margin-top: 4px;
}

.button {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 12px 20px;
    font-size: 1.2em;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100%;
    font-family: 'New Walt Disney', sans-serif !important; 
    font-size: 1.5rem;
}

.button:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

.button:disabled {
    background: rgba(255, 255, 255, 0.2);
    cursor: not-allowed;
}
