@import url('https://fonts.googleapis.com/css2?family=Disney&display=swap');

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.navContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navLinks {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 60%;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Disney', sans-serif;
    transition: color 0.3s ease-in-out;
    text-align: center;

}

.link:hover {
    color: grey;
}

.signOutButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
